body {
    margin: 0;
    white-space: nowrap;
    background: #f9f7f3;
    font-size: 14px;
}

h1 {
    font-size: 15px;
}

.Ndisplay {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ece7df;
}

/* #main {
    padding: 10px;
    display: flex;
    flex-direction: row;
} */

.debug-switch {
    display: flex;
    height: 40px;
    padding: 1px 20px;
    width: 200px;
}

.icon-debug {
    width: 20px;
    height: 20px;
}

.debug-content {
    display: flex;
    /* justify-content: center; */
    flex: 1;
    height: 100%;
    /* padding-left: 10px; 
    padding-right: 20px; */
    align-items: center;
}

.save {
    margin-left: 10px;
}

.border-tp {
    border-top: 1px dashed #a5a4a1;    
}
.border-bt {
    border-bottom: 1px dashed #a5a4a1;    
}

em {
    font-style: normal;    
}

.lb-debug {
    margin-left: 20px;
}

.lb-debug .on {
    color: #23bacd;
}

.lb-debug .off {
    color: #d91b23;
}

a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    outline: none;
}

a:hover {
    background: #ece7df;
    outline: none;
}
.footer {
    padding: 10px;
    background: #ece7df;
    font-size: 14px;
}
a.footer:hover {
    background: #d8d1c5;
    outline: none;
}

.edit-icon {
    width: 16px;
    height: 16px;
}

.debugTokenValue {
    width: 100%;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    font-style: oblique;
}


.more-setting {
    margin-left: 10px;
    width: 14px;
    height: 14px;
    background: url('../image/setting02.png');
    background-size: 100% 100%;
}

.settings {
    margin-left: 5px;
}

#container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.token-container {
    margin: 0 0 10px 0;
}


/* switch */

.mui-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}

.mui-switch:checked:before {
    left: 21px;
}

.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}